html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #3b3a3f;
  font-size: 1.4rem;
  font-family:"游明朝体" ,Georgia, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  text-align: center;
  overflow: hidden;
}
.wrap {
  color: #fff;
  font-size: 5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 12rem;
  letter-spacing: 6px;
}
.wrap p{
    font-size: 3rem;
}
.wrap::before,
.wrap::after {
  content: '';
  display: block;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
}
.wrap::before {
  width: 90%;
  padding-top: 90%;
  border-top: none;
  border-bottom: none;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}
.wrap::after {
  width: 100%;
  padding-top: 100%;
  border-left: none;
  border-right: none;
  -webkit-animation: rotate 15s linear infinite reverse;
          animation: rotate 15s linear infinite reverse;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0.3;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0.3;
  }
}
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10rem;
  height: 10rem;
  margin-left: -5rem;
  font-size: 1.6rem;
  position: absolute;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.8);
  color: #fff;
  border-radius: 50%;
  top: 70%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
          transition: background-color 0.3s linear;
  outline: none;
  letter-spacing: 2px;
  font-family: inherit;
}
button:hover {
  background-color: rgba(255,255,255,0.3);
}
#start {
  left: 38%;
}
#stop {
  left: 50%;
}
#reset {
  left: 62%;
}
